# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp

# Virtual environments
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# Logs
*.log

# Config
config/*.yaml  # if you have secrets here, or use example files
